;; WARNING
;; The dev-config.edn file is used for local environment variables, such as database credentials.
;; This file is listed in .gitignore and will be excluded from version control by Git.

{:dev true
 :port 3000

 :nrepl-port 7000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :database-url "postgresql://localhost/clj_sms_dev?user=amjil&password="

 :sms-check {:minute-scale 2 :minute 1 :hour 5 :day 10 :valid-time 120
             :block-list false
             :no-record-msg "短信验证码不匹配"
             :not-match-msg "短信验证码不匹配"
             :minute-check-msg "两分钟内只能发送%s条短信"
             :hour-check-msg "一个小时内只能发送%s条短信"
             :day-check-msg "一天内只能发送%s条短信"
             :blocked-msg "blocked!!!"
             :session-frq-msg "你当前发送短信过于频繁！"}

 :third-party {:dysms {:key "xxxxxx" :secret "xxxxxx"
                       :sign-name "阿里云通信" :sms-template "SMS_xxxxxx"}}}
